<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <title>Notelet</title>
</head>
<body>
    <section id="app">
    <section class="hero is-small is-primary is-bold">
        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 class="title">
                    Notelet
                </h1>
                <h2 class="subtitle">
                    Store and retrieve notes from anywhere
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">Add new note</h1>
            <form class="box" id="add_form"  action="" method="post" @submit.prevent="processForm">
                <div class="field">
                    <label class="label">Tags</label>
                    <div class="control">
                        <input class="input" name="tags_input_name" v-model="tags_input"  type="text" placeholder="Tags here...">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Note</label>
                    <div class="control">
                        <textarea class="textarea" name="note_input_name" v-model="note_input" placeholder="Note here..."></textarea>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit"  class="button is-link" name="add_button">Add</button>
                    </div>
                    <div class="control">
                        <button type="button" class="button is-link is-light" name="clear_button" @click="clearForm">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">Search</h1>
            <form class="box">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" placeholder="Find a note">
                    </div>
                    <div class="control">
                        <a class="button is-info">
                            Search
                        </a>
                    </div>
                  </div>
            </form>
        </div>
    </section>
    <section class="section">
        <div class="container" id="note_list">
            <div class="columns" v-for="note in notes">
                <div class="column">
                    <div class="content is-medium">
                        {{ note.note }}
                        {{ note.timestamp }}
                        {{ note.tags }}
                    </div>
               </div> 
            </div>            
        </div>
    </section>
    </section>
    <script> 
        // Input form
        const app = new Vue({
            el: '#app',
            // for data
            data: {
                notes: [],
                tags_input: '',
                note_input: ''
            },
            // On page load
            created: function() {
                // Use the vue-resource $http client
                this.$http.get('/api/notes/').then(response => {
                    //alert(response.body)
                    this.notes = response.body ? response.body : []
                }, response => {
                    this.notes = "Error"
                })
            },
            methods: {
                processForm: function() {
                    // Send post request
                    let date = new Date();
                    // Data to pst
                    let note = { timestamp: date.toJSON(), tags: this.tags_input, note: this.note_input };
                    let respString = JSON.stringify(note);
                    // POST /someUrl
                    this.$http.post('/api/notes/', respString,
                        {headers: {
                            'Content-Type': 'application/json'
                        }}
                        ).then(response => {
                            // get status
                            console.log(response.status);
                            // get status text
                            console.log(response.statusText);
                            // get 'Expires' header
                            //response.headers.get('Expires');
                            // get body data
                            console.log(response.body);
                            // Clear form
                            this.note_input = "";
                            this.tags_input = "";
                            // Refresh screen
                            this.notes.push(note);
                        }, response => {
                            console.log(response.status);
                            alert("Error in post callback")
                        });
                },
                clearForm: function() {
                    this.note_input = "";
                    this.tags_input = "";
                }
            }
        });
    </script>
</body>
</html> 